.find-room {


        .find-room-button {
            margin:10px;
            background-color: white;
            padding:0.5rem 1rem;
            margin:0;
            border: 2px solid #1551B4;
            color:#1551B4;
            font-weight: bold;
            font-size:18px;

        }

        .find-room-button:hover,
        .find-room-button:active {
            background-color: #E8F5FE;
            border: 2px solid #1551B4;
            /* color: black; */

        }




}