.range-selectors {
    display:flex;
    /* padding:1rem; */
    border: 1px solid black;
    min-width: 25rem;
    max-width: 35rem;
    position:relative;
    border-radius:2px;
    min-height:2.5rem;

    
    .range-selectors-title {
        font-size:medium;
        position:absolute;
        top: -0.8rem;
        left: 2rem;
        padding:0;
        margin:0;
        background-color: white;
    }

    .range-selector {
        padding-top:0,5rem;
        width: 100%;
        margin:0.5rem 0;

        .range-selector-label {
            font-size: medium;
            margin-right:0.5rem;
        }

        .range-selector-datepicker {

            input{
                font-size: medium;
                padding:0.2rem;
            }
        }

    }
}