.open-table {
    /* display:flex; */
    /* justify-content: center; */
 
    .open-table-selections-container {
        display:flex;
        justify-content: center;
        .open-table-selections {
            grid-area:selections;
            display:grid;
            grid-template-areas: 
            "surgeon procedure dates facilities"
            "findroom templates daysofweek  units";
            grid-template-columns: auto;
            grid-gap: 10px;
            min-height:12rem;
            width:90%;

            .open-table-sections-surgeon {
                grid-area:surgeon;
                max-width:12rem;
                max-height:5.5rem;

            }
            .open-table-sections-findroom {
                display:flex;
                align-items: center;
                justify-content:center;
            }

            .open-table-sections-dates {
                grid-area:dates;
                max-width:37rem;
            }
            .open-table-sections-daysofweek {
                grid-area:daysofweek;
                max-width: 37rem;
            }

            .open-table-sections-facilities {
                grid-area:facilities;
                max-width:37rem;
            }

            .open-table-sections-units {
                grid-area:units;
                max-width:37rem;
            }

            .open-table-sections-procedure {
                grid-area:procedure;
                max-width:20rem;
            }
            .open-table-sections-templates {
                grid-area:templates;
                max-width:20rem;
            }
        }
    }
    .open-table-main-body-container {
        /* display:flex;
        justify-content: center; */


        .open-table-main-body {
            display:flex;
            justify-content: flex-start;
            /* width:100%; */
            /* margin-left:8rem; */
            margin-top:0.5rem;

            .open-table-times {
                height:100%;
                margin-left:5%;
            }

            .open-table-form {
                margin-left:5px;
                width:73%;
            }
        }
    }
    


}

