.foundtime-header {
    background-color: #7b68ee;;

    color:white;
    min-width:280px;
    height:70px;
    text-align: left;
    font-size:medium;
    font-family: Lato;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0 5px 0;

    
    .foundtime-header-data {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:0px 8px 0px 8px;

        .foundtime-header-title {
            margin:0;
            padding:5px 0;
        }

        .foundtime-header-name {
            margin:0;
            padding:0
        }

        .foundtime-header-range{
            margin:0;
        }
    }

}
