.surgeon-dropdown {
    display:flex;
    border: 1px solid black;
    position:relative;
    border-radius:2px;
    justify-content: center;
    align-items: center;
    max-width:10rem;
    min-height:2.5rem;
    

    .surgeon-dropdown-label {
        font-size:medium;
        position:absolute;
        top: -0.8rem;
        left: 2rem;
        padding:0;
        margin:0;
        background-color: white;
        
    }
    .surgeon-dropdown-dropdownbox {
        margin:0 4ps;
    }
}